* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

body{
  background-color: #731294 ;
  
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

a{
  text-decoration: none;
}

main{
  color: white;
  padding-top: 16px;
  padding-left: 12px;
  width: 800px;
  margin: 0 auto;
}

.title{
  font-size: 75px;
}

.title1{
  font-size: 22px;
}

.title2{
  font-size: 22;
}
.card{
  
}

section{
  display: flex;
  justify-content: space-evenly;
  
}

section div {
  background-image: url(/aula-css-03/img/bg_laranja.jpg);
  margin: 16px;
  padding: 25px;
  height: 200px;
  width: 300px;
  border-radius: 16px;
}

section div:first-of-type{
  margin-right: 16px;
}

